# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
git+https://github.com/anchoranalysis/anchor-python-sphinx.git#egg=anchor_python_sphinx
